* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neucha", cursive;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #ffba55;
  padding-bottom: 40px;
}

.todo-list {
  background: rgba(255, 255, 255, 0.875);
  border: 1px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 1px 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 10px 0px;
  font-size: 28px;
}

.todo-list img {
  width: 50px;
  margin-left: 20px;
}

.list input {
  border: none;
  font-size: 20px;
  background-color: #f2c684;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 25%;
  padding-left: 20px;
  outline: 2px solid orange;
}

.list input::placeholder {
  color: rgba(255, 255, 255, 0.826);
  font-weight: 500;
  letter-spacing: 1.5px;
  background: none;
  border: none;
}

.list button {
  background: rgb(255, 166, 0);
  border: none;
  font-weight: 700;
  padding: 15px 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.658);
  cursor: pointer;
  outline: 2px solid orange;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.495);
  letter-spacing: 2px;
}

.row {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

input[type="text"]:focus {
  caret-color: orange;
  color: white;
  letter-spacing: 1px;
}

#list-container {
  width: 30%;
  margin: 50px auto;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 1px;
}

ul li {
  list-style: none;
  padding: 10px 45px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 3px solid #fdaa45;
  border-radius: 50%;
  left: 10px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  background-image: url(assets/checked-new.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  left: 10px;
  border: none;
}

ul li span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #555;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background-color: rgba(255, 255, 255, 0.447);
}
